# Python bytecode files
*.pyc
__pycache__/

# Virtual environment folder (standard for virtualenv)
venv/
.env

# IDE or editor folders
.idea/
.vscode/

# FastAPI specific
*.db
*.sqlite3
instance/

# Testing
.pytest_cache/
.ruff_cache/
.coverage
*.log
htmlcov/

